<a href="https://colab.research.google.com/github/cij1012/Dacon_study/blob/main/%EC%B2%AD%EC%9B%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 가져오기

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd
import numpy as np
import re
from tqdm import tqdm
import matplotlib.pyplot as plt

In [8]:
path = '/content/drive/MyDrive/Colab Notebooks/blue house'
train_data = pd.read_csv(path + '/train.csv').iloc[:,1:].dropna(how='any')
train_data.index = range(len(train_data))
test_data = pd.read_csv(path + '/test.csv').iloc[:,1:]
submission = pd.read_csv(path + '/sample_submission.csv')

In [9]:
train_data.shape, test_data.shape

((39992, 2), (5000, 1))

In [10]:
train_data.head()

   category                                               data
0         2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
1         0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
2         1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
3         1  티비 12세,15세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠...
4         1  무더운 여름철엔 남성들도 시원한 자율복장을 해야. 무더운 여름철에는 남성들도 노넥타...

In [11]:
test_data.head()

                                                data
0  소년법 폐지해주세요. 법 아래에서 보호받아야 할 아이들이\n법으로 인해 보호받지 못...
1  국공립 유치원 증설에 관하여. 국공립 유치원 부지 학보와건립및 증설에\n*지역 어린...
2                   나경원파면. 나경원의원의  동계올림픽 위원을 파면해 주세요
3  국민위원에가 삼성편만들어요. 삼성에서 11년간  일하고 혈암과 백혈병 진단을 받은 ...
4  방과후,유치원,어린이집 영어교육을 유지시켜주세요. 저는 아이 셋 키우는 평범한 주부...

# 데이터 전처리

In [12]:
def clean_txt(txt):
    corpus = []
    for i in range(0, len(txt)):
        review = re.sub(r'[@%\\*=()/~#&\+á?\xc3\xa1\-\|\.\:\;\!\-\,\_\~\$\'\"]', '',str(txt[i])) # (1,2,3) 3에있는 1을 2로 대체
        review = re.sub(r'\d+','',str(txt[i])) # 숫자 제거
        review = review.lower() # 소문자
        review = re.sub(r'\s+',' ',review) # 공백 제거
        review = re.sub(r'<[^>]+>','',review) # Html 태그 제거 
        review = re.sub(r'\s',' ',review) # Html 태그 제거후 다시 공백제거
        review = re.sub(r'^\s+','',review) # 첫칸 공백 제거  --- ^ 뒤의 문자로 문자열이 시작
        review = re.sub(r'\s+$','',review) # 마지막칸 공백 제거 --- $ 앞의 문자로 문자열이 종료
        corpus.append(review)
    return corpus

In [13]:
train_data.data = clean_txt(train_data.data)
test_data.data = clean_txt(test_data.data)

In [14]:
train_data.head()

   category                                               data
0         2  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
1         0  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
2         1  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
3         1  티비 세,세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠시 딴일...
4         1  무더운 여름철엔 남성들도 시원한 자율복장을 해야. 무더운 여름철에는 남성들도 노넥타...

cleansing string punctuation

In [15]:
"""
개행문자 제거
"""


train_data_text = list(train_data['data'])

train_clear_text = []

for i in tqdm(range(len(train_data_text))):
    train_clear_text.append(str(train_data_text[i]).replace('\\n',''))  
train_data['clear_text'] = train_clear_text
train_data.head()

100%|██████████| 39992/39992 [00:00<00:00, 374840.74it/s]

   category  ...                                         clear_text
0         2  ...  신혼부부위한 주택정책 보다 보육시설 늘려주세요.. 국민세금으로 일부를 위한 정책펴지...
1         0  ...  학교이름에 '남자'도 붙여주세요. 울산여자중학교에 재학중인 학생입니다 최근 양성평등...
2         1  ...  빙상연맹, 대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요.. 최근 동계올...
3         1  ...  티비 세,세 관람가도 연령확인 의무화 하자.. 제기 에전에 티비를 보다가 잠시 딴일...
4         1  ...  무더운 여름철엔 남성들도 시원한 자율복장을 해야. 무더운 여름철에는 남성들도 노넥타...

[5 rows x 3 columns]

In [16]:
"""
특수문자 제거
"""
train_clear_text = list(train_data['clear_text'])

train_clear_text2 = []

for text in train_clear_text:
    temp = re.sub('[-=+,#:;//●<>▲\?:^$.☆!★()Ⅰ@*\"※~>`\'…》]', ' ', text)
    train_clear_text2.append(temp)
train_data['clear_text'] = train_clear_text2
train_data.head()

   category  ...                                         clear_text
0         2  ...  신혼부부위한 주택정책 보다 보육시설 늘려주세요   국민세금으로 일부를 위한 정책펴지...
1         0  ...  학교이름에  남자 도 붙여주세요  울산여자중학교에 재학중인 학생입니다 최근 양성평등...
2         1  ...  빙상연맹  대한축구협회등 각종 체육협회의 비리를 철저하게 밝혀주세요   최근 동계올...
3         1  ...  티비 세 세 관람가도 연령확인 의무화 하자   제기 에전에 티비를 보다가 잠시 딴일...
4         1  ...  무더운 여름철엔 남성들도 시원한 자율복장을 해야  무더운 여름철에는 남성들도 노넥타...

[5 rows x 3 columns]

In [17]:
"""
test셋도 마찬가지로
"""
test_data_text = list(test_data['data'])

test_clear_text = []

for i in tqdm(range(len(test_data_text))):
  test_clear_text.append(test_data_text[i].replace('\\n', ' '))
test_data['clear_text'] = test_clear_text
test_data.head()

100%|██████████| 5000/5000 [00:00<00:00, 299289.58it/s]

                                                data                                         clear_text
0  소년법 폐지해주세요. 법 아래에서 보호받아야 할 아이들이\n법으로 인해 보호받지 못...  소년법 폐지해주세요. 법 아래에서 보호받아야 할 아이들이 법으로 인해 보호받지 못하...
1  국공립 유치원 증설에 관하여. 국공립 유치원 부지 학보와건립및 증설에\n*지역 어린...  국공립 유치원 증설에 관하여. 국공립 유치원 부지 학보와건립및 증설에 *지역 어린이...
2                    나경원파면. 나경원의원의 동계올림픽 위원을 파면해 주세요                    나경원파면. 나경원의원의 동계올림픽 위원을 파면해 주세요
3  국민위원에가 삼성편만들어요. 삼성에서 년간 일하고 혈암과 백혈병 진단을 받은 사람이...  국민위원에가 삼성편만들어요. 삼성에서 년간 일하고 혈암과 백혈병 진단을 받은 사람이...
4  방과후,유치원,어린이집 영어교육을 유지시켜주세요. 저는 아이 셋 키우는 평범한 주부...  방과후,유치원,어린이집 영어교육을 유지시켜주세요. 저는 아이 셋 키우는 평범한 주부...

In [18]:
test_clear_text = list(test_data['clear_text'])

test_clear_text2 = []

for text in test_clear_text:
  temp = re.sub('[-=+,#:;//●<>▲\?:^$.☆!★()Ⅰ@*\"※~>`\'…》]', ' ', text)
  test_clear_text2.append(temp)
test_data['clear_text'] = test_clear_text2
test_data.head()

                                                data                                         clear_text
0  소년법 폐지해주세요. 법 아래에서 보호받아야 할 아이들이\n법으로 인해 보호받지 못...  소년법 폐지해주세요  법 아래에서 보호받아야 할 아이들이 법으로 인해 보호받지 못하...
1  국공립 유치원 증설에 관하여. 국공립 유치원 부지 학보와건립및 증설에\n*지역 어린...  국공립 유치원 증설에 관하여  국공립 유치원 부지 학보와건립및 증설에  지역 어린이...
2                    나경원파면. 나경원의원의 동계올림픽 위원을 파면해 주세요                    나경원파면  나경원의원의 동계올림픽 위원을 파면해 주세요
3  국민위원에가 삼성편만들어요. 삼성에서 년간 일하고 혈암과 백혈병 진단을 받은 사람이...  국민위원에가 삼성편만들어요  삼성에서 년간 일하고 혈암과 백혈병 진단을 받은 사람이...
4  방과후,유치원,어린이집 영어교육을 유지시켜주세요. 저는 아이 셋 키우는 평범한 주부...  방과후 유치원 어린이집 영어교육을 유지시켜주세요  저는 아이 셋 키우는 평범한 주부...

# Mecab을 이용하여 토큰화하기
- colab에서 mecab사용할 수 있도록 설치

In [19]:
# !pip install konlpy

In [24]:
!git clone https://github.com/SOMJANG/Mecab-ko-for-Google-Colab.git

Cloning into 'Mecab-ko-for-Google-Colab'...
remote: Enumerating objects: 75, done.
remote: Counting objects: 100% (75/75), done.
remote: Compressing objects: 100% (70/70), done.
remote: Total 75 (delta 33), reused 20 (delta 5), pack-reused 0
Unpacking objects: 100% (75/75), done.

In [25]:
cd Mecab-ko-for-Google-Colab/

/content/Mecab-ko-for-Google-Colab

In [26]:
! bash install_mecab-ko_on_colab190912.sh

Installing konlpy.....
Collecting konlpy
  Downloading https://files.pythonhosted.org/packages/85/0e/f385566fec837c0b83f216b2da65db9997b35dd675e107752005b7d392b1/konlpy-0.5.2-py2.py3-none-any.whl (19.4MB)
     |████████████████████████████████| 19.4MB 67.3MB/s
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.6/dist-packages (from konlpy) (1.18.5)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.6/dist-packages (from konlpy) (4.2.6)
Collecting JPype1>=0.7.0
  Downloading https://files.pythonhosted.org/packages/b7/21/9e2c0dbf9df856e6392a1aec1d18006c60b175aa4e31d351e8278a8a63c0/JPype1-1.2.0-cp36-cp36m-manylinux2010_x86_64.whl (453kB)
     |████████████████████████████████| 460kB 47.7MB/s
Collecting beautifulsoup4==4.6.0
  Downloading https://files.pythonhosted.org/packages/9e/d4/10f46e5cfac773e22707237bfcd51bbffeaf0a576b0a847ec7ab15bd7ace/beautifulsoup4-4.6.0-py3-none-any.whl (86kB)
     |████████████████████████████████| 92kB 11.1MB/s
Collecting tweepy>=3.7.0
  Downloading https://files.pythonhosted.org/packages/bb/7c/99d51f80f3b77b107ebae2634108717362c059a41384a1810d13e2429a81/tweepy-3.9.0-py2.py3-none-any.whl
Collecting colorama
  Downloading https://files.pythonhosted.org/packages/44/98/5b86278fbbf250d239ae0ecb724f8572af1c91f4a11edf4d36a206189440/colorama-0.4.4-py2.py3-none-any.whl
Requirement already satisfied: typing-extensions; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from JPype1>=0.7.0->konlpy) (3.7.4.3)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tweepy>=3.7.0->konlpy) (1.3.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tweepy>=3.7.0->konlpy) (1.15.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.6/dist-packages (from tweepy>=3.7.0->konlpy) (2.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->tweepy>=3.7.0->konlpy) (3.1.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.24.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.7.1)
Installing collected packages: JPype1, beautifulsoup4, tweepy, colorama, konlpy
  Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
  Found existing installation: tweepy 3.6.0
    Uninstalling tweepy-3.6.0:
      Successfully uninstalled tweepy-3.6.0
Successfully installed JPype1-1.2.0 beautifulsoup4-4.6.0 colorama-0.4.4 konlpy-0.5.2 tweepy-3.9.0
Done
Installing mecab-0.996-ko-0.9.2.tar.gz.....
Downloading mecab-0.996-ko-0.9.2.tar.gz.......
from https://bitbucket.org/eunjeon/mecab-ko/downloads/mecab-0.996-ko-0.9.2.tar.gz
--2020-12-15 11:34:10--  https://bitbucket.org/eunjeon/mecab-ko/downloads/mecab-0.996-ko-0.9.2.tar.gz
Resolving bitbucket.org (bitbucket.org)... 104.192.141.1, 2406:da00:ff00::6b17:d1f5, 2406:da00:ff00::22c2:513, ...
Connecting to bitbucket.org (bitbucket.org)|104.192.141.1|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://bbuseruploads.s3.amazonaws.com/eunjeon/mecab-ko/downloads/mecab-0.996-ko-0.9.2.tar.gz?Signature=5mqdO8E9XMoqs1bNZogZEsvNV3g%3D&Expires=1608032999&AWSAccessKeyId=AKIA6KOSE3BNJRRFUUX6&versionId=null&response-content-disposition=attachment%3B%20filename%3D%22mecab-0.996-ko-0.9.2.tar.gz%22&response-content-encoding=None [following]
--2020-12-15 11:34:10--  https://bbuseruploads.s3.amazonaws.com/eunjeon/mecab-ko/downloads/mecab-0.996-ko-0.9.2.tar.gz?Signature=5mqdO8E9XMoqs1bNZogZEsvNV3g%3D&Expires=1608032999&AWSAccessKeyId=AKIA6KOSE3BNJRRFUUX6&versionId=null&response-content-disposition=attachment%3B%20filename%3D%22mecab-0.996-ko-0.9.2.tar.gz%22&response-content-encoding=None
Resolving bbuseruploads.s3.amazonaws.com (bbuseruploads.s3.amazonaws.com)... 52.216.109.131
Connecting to bbuseruploads.s3.amazonaws.com (bbuseruploads.s3.amazonaws.com)|52.216.109.131|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1414979 (1.3M) [application/x-tar]
Saving to: ‘mecab-0.996-ko-0.9.2.tar.gz’

mecab-0.996-ko-0.9. 100%[===================>]   1.35M  7.63MB/s    in 0.2s

2020-12-15 11:34:11 (7.63 MB/s) - ‘mecab-0.996-ko-0.9.2.tar.gz’ saved [1414979/1414979]

Done
Unpacking mecab-0.996-ko-0.9.2.tar.gz.......
Done
Change Directory to mecab-0.996-ko-0.9.2.......
installing mecab-0.996-ko-0.9.2.tar.gz........
configure
make
make check
make install
ldconfig
Done
Change Directory to /content
Downloading mecab-ko-dic-2.1.1-20180720.tar.gz.......
from https://bitbucket.org/eunjeon/mecab-ko-dic/downloads/mecab-ko-dic-2.1.1-20180720.tar.gz
--2020-12-15 11:35:40--  https://bitbucket.org/eunjeon/mecab-ko-dic/downloads/mecab-ko-dic-2.1.1-20180720.tar.gz
Resolving bitbucket.org (bitbucket.org)... 104.192.141.1, 2406:da00:ff00::22c3:9b0a, 2406:da00:ff00::22c5:2ef4, ...
Connecting to bitbucket.org (bitbucket.org)|104.192.141.1|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://bbuseruploads.s3.amazonaws.com/a4fcd83e-34f1-454e-a6ac-c242c7d434d3/downloads/b5a0c703-7b64-45ed-a2d7-180e962710b6/mecab-ko-dic-2.1.1-20180720.tar.gz?Signature=ICXZYq%2B7UUKK3%2Ft54erKVHmnoaU%3D&Expires=1608033941&AWSAccessKeyId=AKIA6KOSE3BNJRRFUUX6&versionId=tzyxc1TtnZU_zEuaaQDGN4F76hPDpyFq&response-content-disposition=attachment%3B%20filename%3D%22mecab-ko-dic-2.1.1-20180720.tar.gz%22&response-content-encoding=None [following]
--2020-12-15 11:35:41--  https://bbuseruploads.s3.amazonaws.com/a4fcd83e-34f1-454e-a6ac-c242c7d434d3/downloads/b5a0c703-7b64-45ed-a2d7-180e962710b6/mecab-ko-dic-2.1.1-20180720.tar.gz?Signature=ICXZYq%2B7UUKK3%2Ft54erKVHmnoaU%3D&Expires=1608033941&AWSAccessKeyId=AKIA6KOSE3BNJRRFUUX6&versionId=tzyxc1TtnZU_zEuaaQDGN4F76hPDpyFq&response-content-disposition=attachment%3B%20filename%3D%22mecab-ko-dic-2.1.1-20180720.tar.gz%22&response-content-encoding=None
Resolving bbuseruploads.s3.amazonaws.com (bbuseruploads.s3.amazonaws.com)... 52.217.40.60
Connecting to bbuseruploads.s3.amazonaws.com (bbuseruploads.s3.amazonaws.com)|52.217.40.60|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 49775061 (47M) [application/x-tar]
Saving to: ‘mecab-ko-dic-2.1.1-20180720.tar.gz’

mecab-ko-dic-2.1.1- 100%[===================>]  47.47M  56.1MB/s    in 0.8s

2020-12-15 11:35:42 (56.1 MB/s) - ‘mecab-ko-dic-2.1.1-20180720.tar.gz’ saved [49775061/49775061]

Done
Unpacking  mecab-ko-dic-2.1.1-20180720.tar.gz.......
Done
Change Directory to mecab-ko-dic-2.1.1-20180720
Done
installing........
configure
make
make install
apt-get update
apt-get upgrade
apt install curl
apt install git
bash <(curl -s https://raw.githubusercontent.com/konlpy/konlpy/master/scripts/mecab.sh)
Done
Successfully Installed
Now you can use Mecab
from konlpy.tag import Mecab
mecab = Mecab()
사용자 사전 추가 방법 : https://bit.ly/3k0ZH53
NameError: name 'Tagger' is not defined 오류 발생 시 런타임을 재실행 해주세요
블로그에 해결 방법을 남겨주신 tana님 감사합니다.

In [27]:
from konlpy.tag import Mecab
mecab = Mecab() # 윈도에서 Mecab 사용하기--https://hong-yp-ml-records.tistory.com/91

In [28]:
"""
mecab.nouns 테스트
"""

mecab.nouns(list(train_data['clear_text'])[9])

['수백만',
 '원',
 '녹',
 '취록',
 '증거',
 '인정',
 '사람',
 '죄',
 '실직',
 '평생',
 '꽃뱀',
 '성매매',
 '범',
 '저',
 '년',
 '개월',
 '간',
 '주민',
 '등록증',
 '변조',
 '신상',
 '위조',
 '피의자',
 '동안',
 '협박',
 '폭행',
 '만남',
 '거부',
 '직장',
 '전화',
 '실직',
 '명',
 '가늠',
 '수',
 '동호인',
 '꽃뱀',
 '성매매',
 '범',
 '허위',
 '사실',
 '동영상',
 '유포',
 '저',
 '꽃뱀',
 '성매매',
 '범',
 '폭행',
 '범',
 '차례',
 '형사',
 '고소',
 '검찰',
 '조사',
 '중',
 '건과',
 '항고',
 '중',
 '건',
 '번',
 '소건',
 '범죄',
 '중',
 '건',
 '모욕죄',
 '기소',
 '제',
 '때',
 '상습',
 '범죄자',
 '피의자',
 '현재',
 '저',
 '위협',
 '목적',
 '제',
 '소속',
 '클럽',
 '밴드',
 '꽃뱀',
 '운운',
 '댓글',
 '게시',
 '정치',
 '인',
 '사',
 '년',
 '모',
 '시장',
 '친구',
 '년',
 '시장',
 '후보',
 '선거',
 '본부',
 '장',
 '현재',
 '민주당',
 '위원장',
 '친분',
 '과시',
 '돈',
 '구장',
 '허위',
 '사실',
 '유포',
 '동호인',
 '증인',
 '매수',
 '친구',
 '동호인',
 '거짓',
 '참고인',
 '진술',
 '등',
 '범죄',
 '방조',
 '저',
 '생각',
 '치',
 '악몽',
 '피의자',
 '목소리',
 '수차례',
 '쉼',
 '눈물',
 '피의자',
 '범죄',
 '수백만',
 '원',
 '녹',
 '취록',
 '증거',
 '제출',
 '증거',
 '저',
 '꽃뱀',
 '성매매',
 '폭행',
 '범',
 '제',
 '제출',
 '녹',
 '취록',
 '자료',
 '증거',
 '인정',
 '상습',
 '범죄자',
 '사회',
 '질서',
 '구속',
 '최고',
 '형벌']

불용어 처리

In [29]:
stop_df = pd.read_csv('/content/한국어불용어100.txt', sep = '\t', header = None, names = ['형태','품사','비율'])
stop_df.tail()

    형태   품사        비율
95   원  NNB  0.000492
96   잘  MAG  0.000491
97  통하   VV  0.000487
98  소리  NNG  0.000486
99   놓   VX  0.000483

In [30]:
stop_df.loc[100] = '가'
stop_df.loc[101] = '합니다'

In [31]:
stop_words = list(stop_df.형태)

outlier 삭제

In [32]:
ind_list = [24885, 14916, 14605, 6641, 17406, 26957, 2175, 6885, 8947, 14966, 8198, 25955, 39167,21707, 12678,
           3023, 31971, 3730, 37153, 33481, 33369, 12927, 30773, 36431,12373,  37525,27530, 8958, 16884, 18072,
           4478, 7940, 16400, 16656]
train_data = train_data.query('index not in @ind_list')
train_data.index = range(0, len(train_data))

get nouns using Mecab

In [33]:
X_train = []  # dict같은 형태로 저장(?)

text = list(train_data['clear_text'])

for i in tqdm(range(len(text))):
    temp = []
    temp = mecab.nouns(text[i])
    temp = [word for word in temp if not word in stop_words] # 불용어 제거
    temp = [word for word in temp if len(word) > 1]
    X_train.append(temp)

100%|██████████| 39958/39958 [01:12<00:00, 549.22it/s]

In [34]:
X_test = []

text = list(test_data['clear_text'])

for i in tqdm(range(len(text))):
    temp = []
    temp = mecab.nouns(text[i])
    temp = [word for word in temp if not word in stop_words] # 불용어 제거
    temp = [word for word in temp if len(word) > 1]
    X_test.append(temp)

100%|██████████| 5000/5000 [00:09<00:00, 547.12it/s]

# 모델링 - Tokenizer

In [35]:
import tensorflow as tf

In [36]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import *
from tensorflow.keras.models import Sequential, load_model, Model
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint,  ReduceLROnPlateau
from tensorflow.keras.regularizers import *
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.optimizers import Adam, RMSprop

In [37]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(X_train)

In [40]:
threshold = 11  # 역치- 이것보다 많이 나온 단어는 유의미하다...-> 파라미터의 하나가 될 수 있을 듯
total_cnt = len(tokenizer.word_index) # 단어의 수
rare_cnt = 0 # 등장 빈도수가 threshold보다 작은 단어 개수 카운트
total_freq = 0 # 훈련 데이터의 전체 단어 빈도수 총 합
rare_freq = 0 # 등장 빈도수가 threshold보다 작은 단어의 등장 빈도수의 총 합

"""
단어 & 빈도수의 쌍을 key 와 value로 받는다.
"""
for key, value in tokenizer.word_counts.items():  ## tokenizer.word_counts -> key 단어 value 빈도수로 구성된 dict
  total_freq = total_freq + value

  if(value < threshold):
    rare_cnt = rare_cnt + 1
    rare_freq = rare_freq + value

print('단어 집합의 크기: ', total_cnt)
print('등장 빈도수가 %s번 이하인 희귀 단어의 수 : %s'%(threshold-1, rare_cnt))
print('단어 집합에서 희귀 단어의 비율 : ',(rare_cnt/total_cnt))
print('전체 등장 빈도에서 희귀 단어 등장 빈도 비율 : ',(rare_freq/total_freq),"%")

단어 집합의 크기:  45144
등장 빈도수가 10번 이하인 희귀 단어의 수 : 32528
단어 집합에서 희귀 단어의 비율 :  0.7205387205387206
전체 등장 빈도에서 희귀 단어 등장 빈도 비율 :  0.032528203776260645 %

In [41]:
vocab_size = total_cnt - rare_cnt + 1
print('단어 집합의 크기 : ', vocab_size)

단어 집합의 크기 :  12617